body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E5EFF5;
    font-family: Outfit, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 320px;
    height: 499px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .qr-code {
    align-items: center;
    width: 288px;
    height: 288px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0px;
  }
  
  p {
    font-size: 15px;
    font-weight: 400;
    color: #666;
  }